<div class="center jumbotron">
  <h2>Активные подключения</h2>

  <%= will_paginate @records %>
  <table class="table-responsive table-hover table-condensed clickable">

    <thead><tr>
      <th class="center">Номер телефона</th>
      <th class="center">IP пользователя</th>
      <th class="center">Порт пользователя</th>
      <th class="center">Протокол</th>
      <th class="center">IP назначения</th>
      <th class="center">Порт назначения</th><
      <th class="center">Закрыть сессию</th>
    </tr></thead><tbody>
  <% @records.each do |rec| %>
      <tr>
        <td class="center"><%=  rec.client_id %></td>
        <td class="center"><%= rec.ip %></td>
        <td class="center"><%= rec.beginning_time %></td>
        <td class="center"><%= rec.end_time %></td>
        <td class="center"><%= rec.status %></td>
        <td class="center"><%= rec.code %></td>
        <td><%= button_to "+", {action: "delete", id: 1},{ method: :get,params:{ip:rec.ip}}%></td>
      </tr>
  <% end %>
  </tbody>
  </table>
  <%= will_paginate @records %>

</div>
