<div class="center jumbotron">
  <h2>Активные подключения</h2>

  <%= will_paginate @records %>
  <table style="margin-left:7%" class="table-responsive table-hover table-condensed clickable">

    <thead><tr>
      <th class="center">Номер телефона</th>
      <th class="center">IP пользователя</th>
      <th class="center">Начало сессии</th>
      <th class="center">Конец сессии</th>
      <th class="center">Статус</th>
      <th class="center">Установить скорость(kb/s)</th>
      <th class="center">Закрыть сессию</th>
    </tr></thead><tbody>
    <% @records.each do |rec| %>
    <tr>
      <td class="center"><%=  rec.phone %></td>
      <td class="center"><%= rec.ip %></td>
      <td class="center"><%= rec.beginning_time %></td>
      <td class="center"><%= rec.end_time %></td>
      <td class="center"><%= rec.status %></td>
      <td class="center">
        <%= form_tag("/changeSpeed", method: "get") do %>
            <%= hidden_field_tag(:ip, rec.ip) %>
            <%= hidden_field_tag(:end_time, rec.end_time) %>
            <%= number_field_tag :speed,nil,min:0 , style:"width:70%"%>
            <%= submit_tag("✔", options ={style:"width:30px;"}) %>
        <% end %>


      </td>
      <td><%= button_to "✕", {action: "delete", id: 1},{ method: :get,params:{ip:rec.ip}}%></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <%= will_paginate @records %>

</div>
