<div class="jumbotron"> 
<%= form_tag(url_for(controller: :welcome, action: :set_vk_post), method: 'get') do %>
    
 
<div class="input-group">
        <!--<input type="text" name="phone" class="form-control" placeholder="9991234567" aria-describedby="basic-addon1">-->
        <%= text_field_tag('vk_link','', class: 'form-control', type: 'text', aria_descibedby: 'basic-addon1') %>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Send</button>
          </span>
      </div> <% end %></div>
      
        <div class="row" style="padding-top: 15px;">
    <div class="col-md-6 col-md-offset-3"><% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
  </div>