<% if @client.errors.any? %>
    <div id="error_explanation" style="padding-top:20px;" >
      <div class="alert alert-danger">
        The form contains <%= pluralize(@client.errors.count, "error") %>.
      </div>
      <ul >
        <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>