<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@client) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :role_id %>
        <%= f.select(:role_id,[['Supervisor', 1], ['Admin', 2], ['PR',3]],class: 'form-control') %>
        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>