// Place all the styles related to the InternetAccess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@font-face {
//  font-family: 'wifi-inno';
//  src: url('../fonts/wifi-inno.eot?76179285');
//  src: url('../fonts/wifi-inno.eot?76179285#iefix') format('embedded-opentype'),
//  url('../fonts/wifi-inno.woff?76179285') format('woff'),
//  url('../fonts/wifi-inno.ttf?76179285') format('truetype'),
//  url('../fonts/wifi-inno.svg?76179285#wifi-inno') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: image-url("ui-bg3.jpg") 0 -120px no-repeat;
  //background-size: contain;
  padding-top:0px;
}
body {
  /*color: #fff;*/
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper-my {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 30px 30px 30px;
  border-radius: 5px;
}

.noacc {
  margin: 0 auto;
  display: inline-block;
}

.noacc input{
  width:100px;
  float:left;
  margin-right:10px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  font-family: 'Open Sans';

}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover .btn{
  display: block;
}

.lead {
  font-weight: 400;
}

#socials {
  font-family: 'wifi-inno';
}

#socials img{
  width: 60px;
  margin-right: 5px;
}

.logo {
  margin:30px 0;
}

.logo img{
  width: 400px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */



@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }

}
@media (max-width:450px ){

  .submit {
    position:relative;
    top:50px;
    right:160px;
    margin-bottom: 50px;
    }
  .cover-container {
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .logo img{
    width: 250px;
  }

  #socials img{
    width: 45px;
  }
  .cover-container {
    width: 100%;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

#phone:focus {

  border-color: #666666;
}
input#phone:-moz-placeholder {
  color: #363636;
}
input#phone::-webkit-input-placeholder {
  color: #363636;
}
input#phone {
  width:150px;
}
