<% provide(:title, "Log in") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Вход в систему</h1>
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Запомнить меня</span>
        <% end %>
        <div style="width:80%;padding-left:20%;" class="text-center">
        <%= f.submit "Log in", class: "btn btn-primary" %></div>
    <% end %>


  </div>

  </div>

    <script>
      $('.dropdown-toggle').dropdown();
    </script>