<div id="filterrific_results">
  <%= page_entries_info stats %>
  <table class="table-responsive table-hover table-condensed clickable">
    <thead><tr>
      <th class="center">Номер телефона</th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :srcaddr, options = {label: "IP пользователя"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :srcport, options = {label: "Порт пользователя"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :prot, options = {label: "Протокол"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :dstaddr, options = {label: "IP назначения"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :dstport, options = {label: "Порт назначения"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :first, options = {label: "Начало потока"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :last, options = {label: "Длительность"}) %></th>
      <th class="center"><%= filterrific_sorting_link(@filterrific, :last, options = {label: "Конец потока"}) %></th>
    </tr></thead><tbody>
  <% stats.each do |rec| %>
      <tr>
        <td class="center"><%=  rec.phone %></td>
        <td class="center"><%= rec.srcaddr %></td>
        <td class="center"><%= rec.srcport %></td>
        <td class="center"><%= rec.prot %></td>
        <td class="center"><%= rec.dstaddr %></td>
        <td class="center"><%= rec.dstport %></td>
        <td class="center"><%= Time.at(rec.unix_secs).strftime("%Y %b %d %H:%M:%S") %></td>
        <td class="center"><%= distance_of_time_in_words(rec.first,rec.last) %></td>
        <td class="center"><%= Time.at(rec.unix_secs + (rec.last - rec.first)).strftime("%Y %b %d %H:%M:%S") %></td>
              </tr>
  <% end %>
  </tbody>
  </table>
  <%= will_paginate stats %>

 </div>