<%= form_for_filterrific @filterrific do |f| %>

    <!--<div>-->
      <!--Sorted by-->
      <!--<%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>-->
    <!--</div>-->
    <div>
    <div class="pull-left" style="width:150px;">
      Поток начался после:
      <%= f.text_field(:with_first_gte, class: 'js-datepicker') %>
    </div>
    <div  style="width:150px;">
      Поток закончился до:
      <%= f.text_field(:with_last_lt, class: 'js-datepicker') %>
    </div>
    </div>
    <div>
      <%= link_to(
              'Reset filters',
              reset_filterrific_url,
          ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
<% end %>
<%= render(
        partial: 'stats/list',
        locals: { stats: @stats}
    ) %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.js-datepicker').datepicker();
  });
</script>