<h2>Вы успешно авторизованы</h2>
<p>Вы можете пользоваться интернетом 24 часа до повторной авторизации. Если вы желаете увеличить время, то авторизуйтесь с помощью вашего вк аккаунта и сделайте репост. Или вы можете просто пользоваться интернетом</p>
<% if @vk_client.nil? %>
    <%= link_to "Sign in with Vkontakte", vk_client_vkontakte_omniauth_authorize_path, class: 'btn btn-primary' %>
<% else %>
<% end %>
<%= link_to "В интернет", 'http://google.com', class: 'btn btn-default' %>
<div id="vk_post_-53931403_29517"></div>
<script type="text/javascript">
  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//vk.com/js/api/openapi.js?127"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'vk_openapi_js'));
  (function() {
    if (!window.VK || !VK.Widgets || !VK.Widgets.Post || !VK.Widgets.Post('vk_post_-53931403_29517', -53931403, 29517, 'heiz3l4lK45QStJr-Pa8pgmikG4', {redesign: 1, width: 665})) setTimeout(arguments.callee, 50);
  }());
</script>
