<div class="inner cover">
  <div class="logo"><%= image_tag("logo.png" ,alt:"Университет Иннополис") %></div>
  <p class="lead">Вы&nbsp;подключились к&nbsp;беспроводной сети Университета&nbsp;Иннополис.</p>
  <p style="margin:20px 0 10px 0;">Введите полученный код:</p>
  <div class="noacc">
    <%= form_tag(url_for(controller: :internet_access, action: :send_code), method: 'get') do %>

        <!--<input type="text" name="phone" class="form-control" placeholder="9991234567" aria-describedby="basic-addon1">-->

        <div class="input-group">
          <%= text_field_tag('code','', class: 'form-control', type: 'text', placeholder: '0000',style:"padding:10px 8px;font-size:18px;") %>
          <span class="input-group-btn">
             <button type="submit" class="pull-right btn btn-primary btn-lg submit">Отправить</button>
          </span>

        </div>

    <% end %>
    <!--<input type="tel" autofocus="autofocus" class="form-control" placeholder="+79008007060" style="padding:12px">-->


  </div>
  <div>


    <%= @form_error if @form_error != nil %>
    <%= 'Осталось попыток: ' + session[:code_tries].to_s if session[:code_tries] != nil %>
</div>
</div>
<script>jQuery(function($){
  $("#code").mask("9999");
});</script>