<div class="inner cover">
  <div class="logo"><%= image_tag("logo.png" ,alt:"Университет Иннополис") %></div>
  <p class="lead">Вы&nbsp;подключились к&nbsp;беспроводной сети Университета&nbsp;Иннополис.</p>
  <p style="margin:20px 0 10px 0;">Нет аккаунта? Введите свой номер телефона и&nbsp;получите код для авторизации:</p>


  <div class="noacc">
    <%= form_tag(url_for(controller: :internet_access, action: :send_phone), method: 'get',class:'phone_form') do %>

          <!--<input type="text" name="phone" class="form-control" placeholder="9991234567" aria-describedby="basic-addon1">-->

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">+7</span>
          <%= text_field_tag('phone','', class: 'form-control ', aria_descibedby: 'basic-addon1', type:'tel', style:"padding:10px 8px;font-size:18px;") %>
          <span class="input-group-btn">
             <button type="submit" class="pull-right btn btn-primary btn-lg submit">Выслать код</button>
          </span>

        </div>

    <% end %>
    <!--<input type="tel" autofocus="autofocus" class="form-control" placeholder="+79008007060" style="padding:12px">-->


  </div>
<div>


  <%= @form_error if @form_error != nil %>
  <%= params[:code_error] if params[:code_error] != nil? %></div>
</div>
<script>jQuery(function($){
  $("#phone").mask("(999) 999-99-99");
});</script>