<h3>Set post</h3>
<div class="container">
  <%= form_tag(url_for(controller: :internet_access, action: :set_vk_post), method: 'get') do %>
      <div class="input-group">
        <!--<input type="text" name="phone" class="form-control" placeholder="9991234567" aria-describedby="basic-addon1">-->
        <%= text_field_tag('vk_link','', class: 'form-control', type: 'text', aria_descibedby: 'basic-addon1') %>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Send</button>
          </span>
      </div>
  <% end %>
</div>