<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
            <li><%= link_to "Главная", root_path %></li>
            <li><%= link_to "Статистика", stats_path %></li>
            <li><%= link_to "Работа с VK", internet_access_path %></li>
            <% if supervisor? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Управление Аккаунтами <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Регистрация нового пользователя", signup_path %></li>
                <li class="divider"></li>
                <li>
                </li>
              </ul>
            </li><% end %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<script>
  $('.dropdown-toggle').dropdown();
</script>