<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield (:title)) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-eval': false %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="site-wrapper-my">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <%=  yield %>
    </div>

  </div>

</div>
</body>